<div class="container-fluid mt-5" id="contact">
    <div class="row">
        <div class="mx-auto col-md-10 col-12">
            <div class="heading text-center">
                <h1>Contact Us</h1>
                <p>grow your bussines with us</p>
            </div>
            <div class="row mt-5">
                <div class="col-md-6 col-10 mx-auto">
                <form action="/contact" method="POST" autocomplete="off">
                    <div class="mb-3">
                        <label  class="form-label">Name</label>
                        <input type="text" class="form-control"  name="name">
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Email address</label>
                        <input type="email" class="form-control"  name="email">
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Phone</label>
                        <input type="phone" class="form-control"  name="phone">
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Message</label>
                        <input type="text" class="form-control"  name="message">
                    </div>
                    <button type="submit" class="btn btn-primary b">Submit</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>