<div class="container-fluid mt-5 service-style" id="serviceid">
    <div class="row">
        <div class="mx-auto col-md-10 mx-auto  col-12 ">
            <div class="heading text-center">
                <h1>Our Services</h1>
                <p>grow your bussines with us</p>
            </div>
            <div class="row ">
                <div class="col-lg-4 col-10 mx-auto  ">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="" srcset="">
                            </div>
                            <h4>Settings</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam ex consectetur quas rem
                                illo veniam!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-10 mx-auto ">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="" srcset="">
                            </div>
                            <h4>Settings</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam ex consectetur quas rem
                                illo veniam!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-10 mx-auto ">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="" srcset="">
                            </div>
                            <h4>Settings</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam ex consectetur quas rem
                                illo veniam!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-10 mx-auto ">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="" srcset="">
                            </div>
                            <h4>Settings</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam ex consectetur quas rem
                                illo veniam!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-10 mx-auto ">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="" srcset="">
                            </div>
                            <h4>Settings</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam ex consectetur quas rem
                                illo veniam!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-10 mx-auto ">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="" srcset="">
                            </div>
                            <h4>Settings</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam ex consectetur quas rem
                                illo veniam!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>